@charset "utf-8";
/* CSS Document */

.title {
	
	position: relative 400px;
	font-size: 80px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	letter-spacing: 15px;
	
	
}