@charset "utf-8";
/* CSS Document */




* {
	
background-color: white;
font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
margin: 0px;
padding: 0px;
color: black;
}

img {
 height: 100px;
}

.menubar {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
	height: 110px;
	padding: 2px;
	
}
	
.menu {
	
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

li {
	padding: 15px;
}

.menu-box {
	
	background-color: red;
	height: 100%;
	width: 30px;
	
}
	
